* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }


  :root {
  --serif-display: 'Playfair Display', serif;   
  --brand-sans: 'Bebas Neue', sans-serif;       
  --logo-script: 'Cormorant Garamond', serif; 
   --table-font: 'Inter', system-ui, sans-serif;
  
}

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;

  background:url("/LureCo/resources/public/project1.png");

  background-size: cover, 300px 300px;
  background-repeat: no-repeat, repeat;

}



   .fish__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20rem 50rem 10rem;
    min-height: 90vh;
   }


   .header__section {
    display: grid;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    border: 3px groove #362e2e;
    height: 20rem;
    
  
   }



   .header__top {
    display: grid;
    grid-template-columns: minmax(10rem, 29rem) minmax(40rem, 1fr) minmax(10rem,29rem);
    grid-template-rows: 1/ 2;
    height: 14rem;
    align-items: center;
    
    
    
   }
   .logo__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 3px groove #222;
  border-bottom: 3px groove #222;
  overflow: hidden;
  
}

#logo {
  height: 100%;
  width: auto;
  max-height: 100%;
  transform: translate(30%);
 
}

#logo svg {
  width: 90%;
  max-height: 90%;
  width: auto;
  display: block;
}




#logo svg path {
  transition: fill 0.1s ease;
}

#logo svg path {
  fill: #222;
}

.company__general {
  height: 100%;
  text-align: center;
  padding: 1.5rem 0;
  border-right: 3px groove #362e2e;
  border-bottom: 3px groove #362e2e;
  overflow: hidden;
  
 
}

.text {
  text-transform: uppercase;
  display: block;
  margin: 2rem;
}




.date {
  background:url("/LureCo/resources/public/project1.png");
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover, 300px 300px;
  -webkit-text-fill-color: transparent;

}

.text--1 {
  margin-top: -1rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--logo-script);
  letter-spacing: 3px;
}



.text--2 {  
  align-self: center;
  font-size: 4rem;
  font-weight: 1000;
  letter-spacing: 9px;
  margin-top: -1.5rem;
  font-family: var(--brand-sans);

}

.text--3 {
  align-self: flex-end;
  font-family: var(--serif-display);
  font-size: 1.5rem;
  margin-top: -2rem;
  font-weight: 400;
}

.markets {
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  line-height: 1.6;
  border-bottom: 3px groove #362e2e;
  height: 100%;
  
}

.canal--index {
  
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--brand-sans);
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 3px groove #362e2e;
  transform: translateY(-12rem);
}

.canal {
  
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--brand-sans);
  font-weight: 900;
  font-size: 2rem;
  border-bottom: 3px groove #362e2e;
  transform: translateY(-6rem);
}


.canal--1--index {
  display: block;
  margin:1rem;
  
}

.canal--2--index {
  display: block; /* kullanmasam da olur */
  margin:1rem;
}

.canal--3--index {
  display: block;
  margin:1rem;
}
.canal--4--index {
  display: block; 
  margin:1rem;
}




.canal--1 {
  display: block;
  margin:1rem;
  
}

.canal--2 {
  display: block; /* kullanmasam da olur */
  margin:1rem;
}

.canal--3 {
  display: block;
  margin:1rem;
}
.canal--4 {
  display: block; 
  margin:1rem;
}


.header__bottom {
  display: grid;
  /*grid-template-columns: minmax(10rem, 29rem) minmax(40rem, 1fr) minmax(10rem,29rem); ilk yaptığım*/
  grid-template-columns: minmax(10rem, 29rem) 1fr 1fr 1fr minmax(10rem,29rem);
  grid-template-rows: 1fr;
  height: 5.5rem;

}


.edit__office {
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  border-right: 3px groove #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
  height: 98%;
  width: 98%;
  background:url("/LureCo/resources/public/fish-1.svg");
  cursor: pointer;
  border: none;
  font-family: var(--brand-sans);
  letter-spacing: 2.5px;
   background-size: cover, 150px 150px;
  background-position: center;
  background-repeat: no-repeat, no-repeat;
}






.search {
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  border-right: 3px groove #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__avenue {
  grid-column: 3 / 4;
  width: 100%;
  height: 100%;
  border-right: 3px groove #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__class {
  grid-column: 4 / 5;
  width: 100%;
  height: 100%;
  border-right: 3px groove #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit__second {
  grid-column: 5 / 6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info__section {
  display: grid;
  grid-column: 1 / 7;
  grid-row: 2 /3;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(29.5rem, 1fr));
  min-width:max-content;
  
 
  
}

.all__in__section {
  display: grid;
   grid-column: 1 / 5;
   grid-row: 1 / 3;
   grid-template-rows: repeat(2, 1fr);
   border-right: 3px solid #222;
   position:relative;
    overflow-y: scroll;
    
   
   
   
  
}

.login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.search-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.avaliable__dates {
  display: grid;
  grid-column: 5 / 7;
  grid-row: 1 / 3;

  width: 100%;
  height: 100%;
  overflow: hidden;
  
}




.avaliable__dates--general {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  gap: 1rem;
  padding-bottom: 0rem;
}



#watch-container canvas {
  width: 60% !important;
  height: 60% !important;
  
  position: relative;
}




.date__text--1 {
  
  font-family: var(--brand-sans);
  font-weight: 800;
  font-size: 8rem;
  width: auto;
  height: auto;
  letter-spacing: .8rem;   
  
}


.date__text--1--index {
	
  font-family: var(--brand-sans);
  font-weight: 800;
  font-size: 8rem;
  width: auto;
  height: auto;
  letter-spacing: .8rem;
  transform:translateY(-6rem);   
	
	
}


.date__text--2--index {
  font-family: var(--brand-sans);
  font-weight: 800;
  font-size: 8rem;
  width: auto;
  height: auto;
  letter-spacing: .8rem; 
  transform:translateY(-15rem);  
	

 
}


.date__text--2 {
  font-family: var(--logo-script);
  font-weight: 800;
  font-size: 8rem;
  transform: translateY(-10rem);
  width: auto;
  height: auto;

 
}








.clockwise {
	position:absolute;
	
}

.login-label {
	font-family: var(--brand-sans);
	font-size:3rem;
	letter-spacing: 1.2px;
	
}

.login-input {
	border: 3px groove #222;
	height:3rem;
	 background:url("/LureCo/resources/public/project1.png");
	 	font-family: var(--table-font);
	 
}


.login-form {
	transform:translateY(-22rem) translateX(-15rem);
}


   .logo__box--2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60rem;
  width:100%;
  transform:translateY(0rem);
  border-right: 3px groove #222;
  border-bottom: 3px groove #222;
  overflow: hidden;
  
}


#logo--2 {
  height: 100%;
  width: auto;
  max-height: 100%;

 
}

#logo--2 svg {
	transform:scale(2);
  width: 100%;
  height: 100%;
  
  display: block;
  
}






.login-button {
	border: 3px groove #222;
	 background:url("/LureCo/resources/public/project1.png");
	 padding: .8rem 4.4rem;
	 font-size:3rem;
	letter-spacing: 1.2px;
	transform:translateX(5rem) translateY(1rem);
	font-family: var(--table-font);
	
	
}

.login-messages {
	font-size:3rem;
	letter-spacing: 1.2px;
		font-family: var(--table-font);
	
	
}


.office-table {
	
	margin-top : 3rem;
  width: 100%;
  border-collapse: no-collapse;
   color: #222;
  font-family: var(--table-font);
  position:relative;
  
  
  
  
}

.office-column {
	border: 3px groove #222;
	
	
}


.office-cell {
	font-family: var(--table-font);
	letter-spacing: 1.2px;
}

.office-header {
  color: #111;
  font-size:3rem;
  font-weight: 900;
  font-family: var(--table-font);
  
}


.office-header--ID {
  width: 20%;
}

.office-header--name {
  font-weight: 900;
  color: #111;
  
  padding: 2.9px;
  font-family: var(--table-font);
}


.office-header--location {
 font-weight: 900;
  color: #111;
  
  padding: 2.9px;
  font-family: var(--table-font);
}



.office-header--maxcapacity {
  font-weight: 900;
  color: #111;
  
  padding: 2.9px;
  font-family: var(--table-font);
}


.office-header--phone {
  font-weight: 900;
 
  color: #111;

  padding: 2.9px;
  font-family: var(--table-font);
}




.office-cell {
    padding: 6px;
    font-size: 2rem;
  
}

.office-label 


.office-form {
	
}

.office-grid {
  gap: 10px;
  
}

.office-label {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--table-font);
 	
  
}

.office-label--2 {

  font-size: 2rem;
  font-weight: 600;
  font-family: var(--table-font);
  
 	
  
}

.office-input {
  padding: 6px;
   background:url("/LureCo/resources/public/project1.png");
   width: 40rem;
   color: #222;
   font-size: 2rem;
   font-family: var(--table-font);
   
   
}

.delete-office-form {
	transform:translateX(60rem) translateY(-18rem);
	width:10%;
	font-family: var(--table-font);
	
}




.office-input--2 {
  padding: 8px 16px;
   background:url("/LureCo/resources/public/project1.png");
   width: 15rem;
   
   font-family: var(--table-font);
  
}

.office-button {
  margin-top: 10px;
  padding: 8px 16px;
  width:20rem;
  font-size:2rem;
  cursor: pointer;
  font-family: var(--table-font);
}





.add-button {
  background:url("/LureCo/resources/public/project1.png");
  font-family: var(--table-font);
  transform: translateX(13rem);

}

.delete-button {
  background:url("/LureCo/resources/public/project1.png");
  transform:translateX(2rem);
  font-family: var(--table-font);
  
}





.search-title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  font-family: var(--table-font);
  
  
  
  
}

.search-form {
  transform:translateY(-6rem);
}



.search-grid {
	  gap: 3px;
	  transform:translateY(5rem);
	
}

.search-label {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
  transform:translateY(-5rem);
  font-family: var(--table-font);
  
}

.search-input {

  padding: 6px;
  font-size: 2rem;
  width: 40rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  font-family: var(--table-font);

}




.search-button--employee {
  transform:translateX(60rem) translateY(-5rem);
  padding: 8px 16px;
  cursor: pointer;
  font-size: 2rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  
 
}

.search-button--employee {
	padding: 8px 16px;
  cursor: pointer;
  font-size: 2rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  font-family: var(--table-font);

}


.search-table {
  margin-top: 3rem;
  width: 100%;
  max-height: 100%; 
  border-collapse: no-collapse;
  
  
  
}

.search-column {
  border: 3px groove #222;


}

.search-header {
  font-weight: bold;
  color: #111;
  font-size: 3rem;
  font-family: var(--table-font);
}

.search-cell {
  padding: 6px;
  font-size: 2rem;
  color: #111;
  font-family: var(--table-font);
}



.department-title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  font-family: var(--table-font);
}

.department-table {
  width: 100%;
  border-collapse: no-collapse;
}

.department-column {
  border: 3px groove #222;
}

.department-header {
  font-weight: bold;
  font-family: var(--table-font);
  color: #111;
  font-size: 3rem;
  
}

.department-cell {
  padding: 6px;
  font-size: 2rem;
  color: #222;
  font-family: var(--table-font);
}

.department-form {
  margin-top: 2rem;
}

.department-grid {
  gap: 10px;
  
}

.department-label {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
  font-family: var(--table-font);
  
}

.department-input {
  padding: 6px;
  font-size: 2rem;
  width: 40rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  
}

.department-input--2 {
	 padding: 6px;
  font-size: 2rem;
  width: 19rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  
	
}

.department-button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 2rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
 
}

.delete-department-form {
 transform:translateX(70rem) translateY(-15rem);
 width:10%;
}




.delete-button--department {
	width:5rem;
	font-family: var(--table-font);
}

.delete-button--2 {
		font-family: var(--table-font);
		transform:translateX(2rem);
		
	
}


.project-title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  font-family: var(--table-font);
}

.project-table {
  margin-top: 3rem;
  width: 100%;
  border-collapse: no-collapse;
}

.project-column {
  border: 3px groove #222;
}

.project-header {
  font-weight: bold;
font-family: var(--table-font);
  color: #111;
  font-size: 3rem;
}

.project-cell {
  padding: 6px;
  font-size: 2rem;
  color: #222;
  font-family: var(--table-font);
}

.project-form {
  margin-top: 2rem;
  
}

.project-grid {
  
  
}

.project-label {

  font-size: 2rem;
  font-weight: 600;
  color: #222;
  font-family: var(--table-font);

  
}



.project-input {
  padding: 6px;
  font-size: 2rem;
  width: 40rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  font-family: var(--table-font);
 

}

.project--input--2 {
	padding: 8px 16px;
  font-size: 2rem;
  width:10rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  font-family: var(--table-font);
  
	
}

.project-button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 2rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  font-family: var(--table-font);

}

.delete-project-form {
  

}


.add-button--project {

	
}

.delete-button--project {
	
	
		
}



.all__in__section::-webkit-scrollbar {
  width: 10px;
}

.all__in__section::-webkit-scrollbar-track {
  background: #;
}

.all__in__section::-webkit-scrollbar-thumb {
    background: url("/LureCo/resources/public/project1.png");
     border: 2px solid #222;
  border-radius: 6px;
}

.all__in__section::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}




.employee-title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
  color: #222;
  font-family: var(--table-font);
}

.employee-table {
  margin-top: 3rem;
  width: 100%;
  border-collapse: no-collapse;
  transform:translateY(-5rem);
}

.employee-column {
  border: 3px groove #222;
}

.employee-header {
  font-weight: 900;
  color: #222;
  font-size: 3rem;
  font-family: var(--table-font);
}

.employee-cell {
  padding: 6px;
  font-size: 2rem;
  color: #222;
  font-family: var(--table-font);
}

.employee-form {
  margin-top: 2rem;
  transform:translateY(-5rem);
}

.employee-grid {
  gap: 10px;
}

.employee-label {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
  font-family: var(--table-font);
}

.employee-label--2 {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
  left: 60rem;
  top: 0rem;
  position:relative;
  display: inline-block;
}


.employee-input {
  padding: 6px;
  font-size: 2rem;
  width: 40rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  font-family: var(--table-font:);
  
  
}

.employee-input--2 {
  padding: 6px;
  font-size: 2rem;
 position:absolute;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  transform: translateX(60rem) translateY(-2rem);
  display:inline-block;
  
  
  
}

.employee-button {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 2rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;

  
  
}

.employee-button--2 {
	position:relative;
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 2rem;
  background: url("/LureCo/resources/public/project1.png");
  color: #222;
  left:3rem;
  
  
}


.delete-employee-form {
	transform:translateY(-20rem);	
	
  font-family: var(--table-font);
  
  
}

.employee-grid {
	
}

.add-button--employee {
	
	background-image:url("/LureCo/resources/public/project1.png");
  font-family: var(--table-font);
	  
	  
}

.delete-button--employee {
	position:absolute;
	transform: translateX(65rem);
	width:22.5rem;
	left:-2rem;
	font-family: var(--table-font);
}













